client
dev tun
proto {{ vpn_proto }}

#Server IP and Port
remote {{ ipify_public_ip }} {{ vpn_port }}

resolv-retry infinite
nobind
persist-key
persist-tun
mute-replay-warnings
ns-cert-type server
comp-lzo
auth-user-pass

<ca>
{{ ca_cert['content'] | b64decode }}
</ca>

